<div class="container">
	<div class="row">
		<div class="col-2">
			<img class="img-fluid" src="https://ecole241.org/wp-content/uploads/2019/12/e241-logo.png" alt="">
		</div>
		<div class="col-9"></div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-6">
			<h1 class="text-bold m-top-mini">
				Devenez professionnel.le
du numérique en 7 mois.
			</h1>
			<p>
				L’école 241, est la première fabrique Simplon au Gabon,
entièrement gratuite, ouverte et accessible à tous. Sa méthode d’enseignement s’inspire des plus grandes écoles du numérique, qui est la pédagogie inversée .
			</p>
			<a class="btn btn-danger btn-lg" href="#">Découvrir l'école 241</a>
		</div>
		<div class="col-6">
			<img class="img-fluid" src="https://ecole241.org/wp-content/uploads/elementor/thumbs/intro-oiauy145vufkd15t707rk7o0kbllsd4o2sqk9tqah4.jpg" alt="">
		</div>
	</div>
</div>
<div class="container">
		<div class="row">
			<div class="col-10 offset-1 text-center ">
				<h2 class="text-bold">Une expérience qui change la vie</h2>
				<p>
					Au cours de notre formation de 8 mois, nous vous mettons en situation réelle par différents évènements et challenges que nous organisons.
				</p>
			</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-6">
			<img class="img-fluid" src="https://ecole241.org/wp-content/uploads/2019/12/ref.jpg" alt="">
		</div>
		<div class="col-6">
			<h2 class="text-bold text-maj m-top">
				DÉVELOPPEUR.SE WEB
			</h2>
			<p>


De l’analyse du besoin à la mise en ligne, en passant par l’interface et la base de données, le·la développeur·se web conçoit et programme des applications web.

Le⋅a développeur·se web réalise l’ensemble des fonctionnalités d’un site ou d’une application web. Le⋅a développeur·se web analyse les besoins des clients consignés au préalable dans un cahier des charges par le chef de projet. Il·elle préconise et met en œuvre une solution technique pour concevoir des sites sur mesure ou adapter des solutions techniques existantes.

			</p>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-6">
			<h2 class="text-bold text-maj m-top">
				RÉFÉRENT.E DIGITAL
			</h2>
			<p>


De la stratégie de communication en ligne à la fidélisation en passant par la dématérialisation d’offres de service, le⋅a référent⋅e digital participe activement à la stratégie digitale d’une entreprise.

Son principal rôle est d’identifier et d’accompagner la création de solutions numériques au sein d’une structure : site web, mise en place de solutions e-commerce, publicité en ligne (webmarketing), outils d’optimisation de la production dans le cloud et maintenance.

Il·elle accompagne les collaborateurs à l’appropriation des solutions numériques développée en s’appuyant notamment sur les méthodes agiles.

			</p>
		</div>
		<div class="col-6">
			<img class="img-fluid" src="https://ecole241.org/wp-content/uploads/2019/12/ref.jpg" alt="">
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
			<div class="col-lg-8">
		<h2 class="text-bold">
			Les grandes entreprises et institutions ont <br>fait confiance à nos apprenant.es
		</h2>
		<p>
			Nos apprenants travaillent comme chefs de projet, développeurs, community manager ou concepteurs UX / UI dans les entreprises les plus performantes.
		</p>
		<p>Qu’est-ce que les recruteurs aiment chez eux? </p>
		<p>Ils savent comment résoudre rapidement et efficacement les problèmes.</p>
	</div>
	<div class="col-lg-4 p-4">
		<div class="row">
			<div class="col-lg-6">
				<img class="img-fluid" src="https://ecole241.org/wp-content/uploads/2019/12/592fd3845fea3.jpg" alt="">
			</div>
			<div class="col-lg-6">
				<img class="img-fluid" src="https://ecole241.org/wp-content/uploads/2019/12/logo_small.png" alt="">
			</div>
			<div class="col-lg-6">
				<img class="img-fluid" src="https://ecole241.org/wp-content/uploads/2019/12/6ab3ec8140fd53cf17094efa2cd27d.png" alt="">
			</div>
			<div class="col-lg-6">
				<img class="img-fluid" src="https://ecole241.org/wp-content/uploads/2019/12/logo-Groupe-Cofina.png" alt="">
			</div>
			<div class="col-lg-6">
				<img class="img-fluid" src="https://ecole241.org/wp-content/uploads/2020/01/airtel-logo-1024x499.jpg" alt="">
			</div>
			<div class="col-lg-6">
				<img class="img-fluid" src="https://ecole241.org/wp-content/uploads/2020/01/Logo-MEDIAS241-1024x410.png" alt="">
			</div>
			<div class="col-lg-6">
				<img class="img-fluid" src="https://ecole241.org/wp-content/uploads/2020/01/image.png" alt="">
			</div>
			<div class="col-lg-6">
				<img class="img-fluid" src="https://ecole241.org/wp-content/uploads/2020/01/index.jpg" alt="">
			</div>
		</div>
	</div>
	</div>
</div>
<div class="container"></div>
<div class="container"></div>
<div class="container"></div>
<div class="container"></div>
<div class="container"></div>
<div class="container"></div>